
### misc
/target/
/build/
/gradle/
gradlew
/.gradle/
/lib/
.lock
*.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Python ###
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
*.sqlite3
*.log
local_settings.py
.env
.venv
staticfiles/

## procedural artifacts
0001_initial.py